.hero-container{

    display: flex;
    align-items: center;
    background-color: aquamarine;
    border-radius: 25px;
    padding: 25px;
    font-size: 1.25em;

}

.hero-container button{
    background-color: rgb(255, 127, 193);
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
}

.hero-container img{

    width:100%;
    height: 300px;
    border-radius: 25px;
}

body{
    max-width: 1270px;
    background-color: aqua;
    margin:0 auto;
}